/* Làm sạch mọi khoảng cách thừa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ép thẻ gốc của React bung 100% toàn màn hình */
html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  background-color: #060914; /* Khớp với mã màu nền Dark Mode của app */
}